{% extends "public/base.jinja2" %}
{% block nav %}
    <div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">{{ project }}</a>
        <a href="">{{ application }}</a>
        <a><cite>cmd</cite></a>
    </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
{% endblock %}
{% block body %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="username" placeholder="请输入用户名" autocomplete="off"
                                       class="layui-input"></div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                    <i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body ">
                        <table id="cmdListTable" lay-filter="cmdListTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData"> 获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll"> 验证是否全选</button>
        </div>
    </script>
    <script type="text/html" id="rowBar">
        {% raw %}
        <a href="cmd/{{d.name}}" class="layui-btn layui-btn-sm">查看详细信息</a>
        {% endraw %}
    </script>
    <script type="text/html" id="switchTpl">
        {% raw %}
        <input type="checkbox" name="sex" value="{{d.enable}}" lay-skin="switch" lay-text="√|×" lay-filter="enableDemo" {{ d.enable== true ? 'checked' : '' }}/>
        {% endraw %}
    </script>
    <script>
        layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

    });</script>
    <script>layui.use(['form', 'table', 'soulTable'], function () {
        var table = layui.table, soulTable = layui.soulTable;
        table.render({
            elem: '#cmdListTable'
            , url: '/sge_info_api/{{ project }}/{{ application }}/cmd/'
            , toolbar:'#toolbarDemo'
            , height: 600
            , page: true
            , cols: [[
                {type:'numbers'},
                {field: 'name', title: '接口名', width: 300, sort: true, filter: true},
                {field: 'type', title: '接口类型', width: 300, edit:'text', filter: true},
                {field: 'cmdno', title: 'CMD号', width: 100, edit:'text', filter: true},
                {field: 'cmdtype', title: 'GTP域号', width: 100, edit:'text', filter: {split: ','}, sort: true},
                {field: 'cmdname', title: '中文名称', width: 500, edit:'text', filter: true, sort: true},
                {title: '操作', templet: '#rowBar'}
            ]]
            , done: function () {
                soulTable.render(this)
            }
        });

        //监听单元格编辑
        table.on('edit(cmdListTable)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            layer.msg('[ID: ' + data.name + '] ' + field + ' 字段更改为：' + value);
        });

        //头工具栏事件
        table.on('toolbar(cmdListTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            }
        });
    })</script>
{% endblock %}