{% extends "public/base.jinja2" %}
{% block nav %}
    <div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">{{ project }}</a>
        <a href="">{{ application }}</a>
        <a href="/sge_info/{{ project }}/{{ application }}/cmd">cmd</a>
        <a><cite>{{ command }}</cite></a>
    </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>{% endblock %}
{% block body %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="username" placeholder="请输入用户名" autocomplete="off"
                                       class="layui-input"></div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                    <i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body" id="view">
                        <table id="cmdInfoTable" lay-filter="cmdInfoTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>{% endblock %}
{% block script %}
    <script type="text/html" id="rowBar">
        {% raw %}
        <a href="../basic/{{d.f_name}}" class="layui-btn layui-btn-sm">查看详细信息</a>
        {% endraw %}
    </script>
    <script type="text/html" id="toolBarMain">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData"> 获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll"> 验证是否全选</button>
        </div>
    </script>
    <script type="text/html" id="toolBarSub">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData"> 获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll"> 验证是否全选</button>
        </div>
    </script>
    <script>layui.use(['form', 'table', 'soulTable'], function () {
        var table = layui.table, soulTable = layui.soulTable;
        table.render({
            elem: '#cmdInfoTable'
            , toolbar:'#toolBarMain'
            , height: 600
            , page: false
            , url: '/sge_info_api/{{ project }}/{{ application }}/cmd/{{ command }}'
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data.fields //解析数据列表
                };
            }
            , cols: [[
                {title: '#', width: 50, childTitle: false, isChild: function(row){return row.t_fields !== null}, children: [{
                        title: '表格一'
                        , toolbar: '#toolBarSub'
                        , height: 300
                        , page: false
                        , data: function (row) {
                            // d 为当前行数据
                            console.log(row);
                            return row.t_fields;
                        }
                        , cols: [[
                            {field: 'f_name', title: '字段名', width: 200, edit: 'text', filter: true, sort: true},
                            {field: 't_group', title: '字段分类', width: 100, edit: 'text', filter: true, sort: true},
                            {field: 't_type', title: '字段类型', width: 150, edit: 'text', filter: true, sort: true},
                            {field: 't_length', title: '字段长度', width: 100, edit: 'text', filter: true, sort: true},
                            {field: 'gtp_name', title: 'GTP名称', width: 200, edit: 'text', filter: true, sort: true},
                            {field: 'gtp_num', title: 'GTP编号', width: 100, edit: 'text', filter: true, sort: true},
                            {field: 'gtp_mem', title: 'GTP类型', width: 100, edit: 'text', filter: true, sort: true},
                            {field: 'gtp_desc', title: 'GTP描述', width: 200, edit: 'text', filter: true, sort: true},
                            {title: '操作', templet: '#rowBar'}
                        ]]
                        , editEvent: function (obj, pobj) {
                            // obj 子表当前行对象
                            // pobj 父表当前行对象
                            console.log(obj);
                            layer.msg(obj.oldValue + " 已成功改为：" + obj.value);
                        }
                        , filter: {
                            bottom: false
                        }
                        , done: function () {
                            soulTable.render(this);
                        }
                    }]
                },
                {field: 'f_name', title: '字段名', width: 200, edit: 'text', filter: true, sort: true},
                {field: 't_group', title: '字段分类', width: 100, edit: 'text', filter: true, sort: true},
                {field: 't_type', title: '字段类型', width: 150, edit: 'text', filter: true, sort: true},
                {field: 't_length', title: '字段长度', width: 100, edit: 'text', filter: true, sort: true},
                {field: 'gtp_name', title: 'GTP名称', width: 200, edit: 'text', filter: true, sort: true},
                {field: 'gtp_num', title: 'GTP编号', width: 100, edit: 'text', filter: true, sort: true},
                {field: 'gtp_mem', title: 'GTP类型', width: 100, edit: 'text', filter: true, sort: true},
                {field: 'gtp_desc', title: 'GTP描述', width: 200, edit: 'text', filter: true, sort: true},
                {title: '操作', templet: '#rowBar'}
            ]]
            , filter: {
                bottom: false
            }
            , done: function () {
                soulTable.render(this)
            }
        });

        //监听单元格编辑
        table.on('edit(cmdListTable)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            layer.msg('[ID: ' + data.name + '] ' + field + ' 字段更改为：' + value);
        });

        //头工具栏事件
        table.on('toolbar(cmdListTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            }
        });
    })</script>{% endblock %}